@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.background{
    background-image: url("/images/desktop/image-hero.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
nav{
    display: flex;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: white;
    gap: 40px;
    font-family: "Inter", sans-serif;
}
button{
    border: 1px solid;
    font-family: "Inter", sans-serif;
    width: 750px;
    height:400px;
    color: white;
    background-color: transparent;
    font-size: 97px;
    text-align: start;
    padding: 20px;
}
.immersive{
    padding: 60px;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.vr img{
    display: flex;
    padding: 90px;
    padding-top: 70px;
}
.box{
    background-color: white;
    width: 400px;
    height: 220px;
    position: absolute;
    margin-left: 680px;
    margin-top: 200px;
    padding: 90px;
}
.box h1{
    margin-top: 35px;
    font-size: 40px;
}
.box p{
    font-size: 15px;
    color: grey;
    margin-top: 25px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
main h2{
    margin-left: 60px;
}
main button{
    margin-right: 70px;
}
.see{
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid;
    border-color: black;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 60px;
}
.deep{
    position: absolute;
    margin-top: -90px;
    font-size: 25px;
    margin-left: 30px;
    color: wheat;
}
.picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -80px;
    padding: 60px;
}
.from{
    position: absolute;
    margin-top: -90px;
    font-size: 25px;
    margin-left: 30px;
    color: wheat;  
}
.footer{
    background-color: black;
    width: 100%;
    height: 190px;
}
.iconic{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
}
.last h5{
    color: gray;
}
.nav a{
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.word img:hover{
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
}
.partwo img:hover{
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
}
nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.see:hover{
    background-color: black;
    cursor: pointer; 
    color: white;
}
.icon img:hover{
    cursor: pointer;
}